
python-dotenv

# openpyxl==3.1.5
# XlsxWriter==3.2.2
# scipy  == 1.13.0
# fastapi == 0.115.11
# uvicorn == 0.30.6
# tiktoken == 0.5.1
# gradio == 5.23.2
# boto3>=1.37.23
# requests==2.32.3


python-telegram-bot==22.0
numpy==2.0.2
pandas==2.2.2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
openai==1.76.0
scikit-learn
nltk==3.9.1



















